<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="/about">About</a></li>
    <li><a ng-href="#contact">Contact</a></li>
  </ul>
  <h3 class="text-muted">Local Sage</h3>
</div>



<table class="table">
  <thead>
    <tr><th colspan="4">A Table Title</th></tr>
  </thead>
  <tbody>
    <tr ng-repeat="people in awesomePeople">
      <td>{{$index + 1}}</td>
      <td>
        {{people.name}}
      </td>
    </tr>
  </tbody>
</table>